/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.panel{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7 ) , rgba(34, 37, 42,0.8) );
    color: rgb(255, 255, 255);
    border: solid;
    border-color: black;
    padding: 0;
    /*overflow: scroll;*/
}
.dropdown{
  color: white;
  display: inline;

}
.navbar{
  color: white;
}

tr:hover td {
background-color: rgba(242, 117, 42,0.5);
}
#barChart{
  background: rgba(45, 48, 53,0.5);
}
.test div{
  font-size:10px;
  background-color:green;
  text-align:right;
  padding:3px;
  margin:1px;
  color:white;
}
.progress-bar{


}
.axis--x{
stroke:rgb(135, 137, 143);
stroke-width: 0.5;
}
.axis--y{
stroke:rgb(135, 137, 143);
stroke-width: 0.5;
}

/*Bar chart personalization*/
div .tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: green;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
.container.custom-container {
      margin: 10px;
}

.bar{
  fill: rgb(93, 40, 136);
}
.svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	vertical-align: middle;
	overflow: hidden;
}
.svg-content {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}
.axis{
    color:  blue;
}
